h2 {
    color: #ff0000;
    text-align: center;
    font-size: 1.5em;
}

.accent {
    color: #0000ff;
}

h3 {
    color: white;
    background-color: black;
    padding: 10px;
}

p {
    font-size: 1.2em;
    text-align: center;
    line-height: 2em;
}

#container {  
    width:650px;  
    margin:0;  
    padding:5px;		
}

#check {  
    width:640px;  
    border:1px solid #ccc; 
    margin: 0;
}

.sm {
    font-size: 0.7em;
}

.user-warp {
    width: 100%;
    margin: 0px;
    position: relative;
}

.user-text {
    position: absolute;
    left: 51%;
    width: 100%;
    top: 80%;
    transform: translate(-50%,-50%);
    font-size: 10px;
    text-align: left;
}

.t {
    margin-left: 10px;
    text-align: left;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

.t2 {
    margin-left: 10px;
    text-align: left;
    color : #fac003f6;
    font-size: 20px;
}

.co {
    border: solid #000000;
    background-color: #000000;
}

form{
    background-color: #00000021;
}